In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [5]:
print(customer_df.head())
print(customer_df.columns)

  Customer       State  Customer Lifetime Value Response  Coverage Education  \
0  BU79786  Washington              2763.519279       No     Basic  Bachelor
1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor
2  AI49188      Nevada             12887.431650       No   Premium  Bachelor
3  WW63253  California              7645.861827       No     Basic  Bachelor
4  HB64268  Washington              2813.692575       No     Basic  Bachelor

  Effective To Date EmploymentStatus Gender  Income  ...  \
0           2/24/11         Employed      F   56274  ...
1           1/31/11       Unemployed      F       0  ...
2           2/19/11         Employed      F   48767  ...
3           1/20/11       Unemployed      M       0  ...
4            2/3/11         Employed      M   43836  ...

  Months Since Policy Inception Number of Open Complaints  Number of Policies  \
0                             5                         0                   1
1                            42                         0                   8
2                            38                         0                   2
3                            65                         0                   7
4                            44                         0                   1

      Policy Type        Policy  Renew Offer Type  Sales Channel  \
0  Corporate Auto  Corporate L3            Offer1          Agent
1   Personal Auto   Personal L3            Offer3          Agent
2   Personal Auto   Personal L3            Offer1          Agent
3  Corporate Auto  Corporate L2            Offer1    Call Center
4   Personal Auto   Personal L1            Offer1          Agent

  Total Claim Amount  Vehicle Class Vehicle Size
0         384.811147   Two-Door Car      Medsize
1        1131.464935  Four-Door Car      Medsize
2         566.472247   Two-Door Car      Medsize
3         529.881344            SUV      Medsize
4         138.130879  Four-Door Car      Medsize

[5 rows x 24 columns]
Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [6]:
if 'customer_id' in customer_df.columns:
    customer_df = customer_df.drop(columns=['customer_id'])
else:
    print("'customer_id' column not found in DataFrame")

'customer_id' column not found in DataFrame

In [8]:
numerical_df = customer_df.select_dtypes(include=['number'])
categorical_df = customer_df.select_dtypes(exclude=['number'])

In [10]:
for col in categorical_df.columns:
    print(f'Value counts for {col}:\n{customer_df[col].value_counts()}\n')

Value counts for Customer:
Customer
BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: count, Length: 9134, dtype: int64

Value counts for State:
State
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: count, dtype: int64

Value counts for Response:
Response
No     7826
Yes    1308
Name: count, dtype: int64

Value counts for Coverage:
Coverage
Basic       5568
Extended    2742
Premium      824
Name: count, dtype: int64

Value counts for Education:
Education
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: count, dtype: int64

Value counts for Effective To Date:
Effective To Date
1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: count, dtype: int64

Value counts for EmploymentStatus:
EmploymentStatus
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: count, dtype: int64

Value counts for Gender:
Gender
F    4658
M    4476
Name: count, dtype: int64

Value counts for Location Code:
Location Code
Suburban    5779
Rural       1773
Urban       1582
Name: count, dtype: int64

Value counts for Marital Status:
Marital Status
Married     5298
Single      2467
Divorced    1369
Name: count, dtype: int64

Value counts for Policy Type:
Policy Type
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: count, dtype: int64

Value counts for Policy:
Policy
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: count, dtype: int64

Value counts for Renew Offer Type:
Renew Offer Type
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: count, dtype: int64

Value counts for Sales Channel:
Sales Channel
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: count, dtype: int64

Value counts for Vehicle Class:
Vehicle Class
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: count, dtype: int64

Value counts for Vehicle Size:
Vehicle Size
Medsize    6424
Small      1764
Large       946
Name: count, dtype: int64

In [ ]:
target_column = 'Customer Lifetime Value'  # Replace with your actual target column name

selected_columns = categorical_df.columns[:3]  # Select a few categorical columns for plotting

for col in selected_columns:
    plt.figure(figsize=(10, 5))
    sns.boxplot(x=col, y=customer_df[target_column], data=customer_df)
    plt.title(f'{col} vs {target_column}')
    plt.xticks(rotation=45)
    plt.show()